@model List<Matratt>

@{
	//ViewData["Title"] = "Tomasos";
	Layout = "~/Views/_LayoutMain.cshtml";
}

@if (Model.Count == 0)
{
	<p>
		<i>Det finns inga maträtter inom denna kategori.</i>
	</p>
}
else
{
	foreach (Matratt mat in Model.OrderBy(m => m.MatrattTypNavigation.Beskrivning).ThenBy(m => m.MatrattNamn))
	{
		<section class="mat">
			<div class="mat-head">
				<h2 class="mat-name">@mat.MatrattNamn <span class="mat-type">@mat.MatrattTypNavigation.Beskrivning</span>
				</h2>
				<div class="mat-head-right">
					<div class="mat-price">@mat.Pris.ToString("C")</div>
					<div class="mat-add">
						<a asp-action="AddToCart" asp-route-id="@mat.MatrattId">Lägg till i kundvagn</a>
					</div>
				</div>
			</div>
			<div class="mat-body">
				<div class="mat-ingredients">
					<strong>Ingredienser</strong>
					<ul>
						@foreach (MatrattProdukt nav in mat.MatrattProdukt)
						{
							<li>@nav.Produkt.ProduktNamn</li>
						}
					</ul>
				</div>
				<div class="mat-desc">@mat.Beskrivning</div>
			</div>
		</section>
	}
}