@inject ICartManager cartManager
@inject MatrattRepository MatrattRepository
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{
	List<MatrattTyp> matrattTypes = await MatrattRepository.GetMatrattTypesAsync();
	int cartCount = cartManager.SavedCart.TotalCount;
	string message = ViewData["Message"] as string ?? TempData["Message"] as string;
	ApplicationUser AppUser = await UserManager.GetUserAsync(User);
}

@functions
{
	public string GetAntiXsrfRequestToken()
	{
		return Xsrf.GetAndStoreTokens(Context).RequestToken;
	}
}

<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@ViewData["Title"] - Tomasos</title>

	<link asp-href-include="css/*.css" rel="stylesheet" />

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
	</environment>
</head>
<body>
<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand">
	<a class="navbar-brand" href="@Url.Action("Index", "Tomasos")">Tomasos</a>
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a asp-controller="Tomasos" asp-action="Index" class="nav-link">Alla</a>
		</li>
		<li class="divider-vertical"></li>
		@foreach (MatrattTyp type in matrattTypes)
		{
			<li class="nav-item">
				<a asp-controller="Tomasos" asp-action="Category" asp-route-beskrivning="@type.Beskrivning" class="nav-link">@type.Beskrivning</a>
			</li>
		}
	</ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item"><a asp-controller="Tomasos" asp-action="ViewCart" class="nav-link">Kundvagn (<span id="cartSize">@cartCount rätt@(cartCount == 1 ? "" : "er")</span>)</a></li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="javascript:void(0);" id="kontoDropdown"
			   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@(AppUser?.DisplayName ?? "Konto")</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="kontoDropdown">
				@if (SignInManager.IsSignedIn(User))
				{
					<a class="dropdown-item" asp-controller="Account" asp-action="Index">Min profil</a>
					<a class="dropdown-item" asp-controller="Tomasos" asp-action="ListOrders">Mina beställningar</a>
					<a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logga ut</a>
				}
				else
				{
					<a class="dropdown-item" asp-controller="Account" asp-action="Login">Logga in</a>
					<a class="dropdown-item" asp-controller="Account" asp-action="Register">Registrera ny kund</a>
				}
				@if (SignInManager.IsSignedIn(User) && User.IsInRole(UserRole.Admin))
				{
					<div class="dropdown-divider"></div>
					<h6 class="dropdown-header">Admin</h6>
					<a class="dropdown-item" asp-controller="Admin" asp-action="CreatePizza">Ny maträtt</a>
					<a class="dropdown-item" asp-controller="Admin" asp-action="AlterProducts">Hantera ingredienser</a>
					<a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">Hantera användare</a>
					<a class="dropdown-item" asp-controller="Admin" asp-action="ListOrders">Hantera besällningar</a>
				}
			</div>
		</li>


	</ul>

	@if (AppUser != null)
	{
		<div class="navbar-text text-center" style="width: 12em;">
			Poäng @AppUser.Points / @Bestallning.POINTS_FOR_FREE_FOOD
			<div class="progress">
				<div class="progress-bar bg-secondary"
				     style="width: @(100 * AppUser.Points / (float) Bestallning.POINTS_FOR_FREE_FOOD)%"
				     role="progressbar"
				     aria-valuenow="@AppUser.Points"
				     aria-valuemin="0"
				     aria-valuemax="100">@AppUser.Points / @Bestallning.POINTS_FOR_FREE_FOOD</div>
			</div>
		</div>
	}
</nav>
	<header>
		<h1>Tomasos</h1>
		<h2>@ViewData["Title"]</h2>
	</header>
	<article>

		@if (!string.IsNullOrEmpty(message))
		{
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>@message</strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		}

		@RenderBody()
	</article>

	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
				crossorigin="anonymous"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
		</script>
		<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
	</environment>

	@if (User.IsInRole(UserRole.Admin))
	{
	<script type="text/javascript">
			function ChangeBestallningLevererad(elem, id) {
				$.ajax({
					type: "post",
					dataType: "json",
					header: {
						"RequestVerificationToken": '@GetAntiXsrfRequestToken()'
					},
					url: '@Url.Action("ToggleOrderLevererad", "Admin")?id=' + id,
					success: function (result) {
						console.log(result);

						if (result.success)
							$(elem).html('<span class="badge text-uppercase '
								+ (result.levererad ? "badge-success" : "badge-danger") + '">'
								+ (result.levererad ? "Ja" : "Nej") + '</span>');
					},
					error: function(err, scnd) {
						console.error(err);
					}
				});
			}
	</script>
	}

	@RenderSection("Scripts", required: false)
</body>
</html>